//背景色
$background_color: #fafafa;  //项目整体背景色

//颜色：字体 线条 图标
$text_black_color: #666;  //黑色字体
$text_icon_blue_color: #66CCFF; //蓝色字体 图标
$line_gray_color: #ccc; //灰色线条
$color_red:#cd0140 ;//状态色 失败 错误
$color_green: #09BF5B; //状态色 成功 运行中
$color_orange: #F6901F; //状态色  告警 异常
$color_icon_input: #cccccc;//输入框的icon

//圆角
$size_border_radius: 2;

//字体大小
$size_font_title_h2: 16px;
